<div class="col-md-3">
    <aside id="{{ id }}" class="sidebar"  data-plugin-sticky data-plugin-options='{"minWidth": 991, "containerSelector": ".container", "padding": {"top": 110}}'>
        <h4 class="heading-primary">Categories</h4>
        <ul class="nav nav-list mb-xlg">
            <li>
                <a href="{{ path('topic_new') }}">Bla bla</a>
                    <ul>
                        <li class=""><a href="{{ path('topic_new') }}">Ajouter Nouveau</a></li>
                        <li class=""><a href="{{ path('topic_new') }}">Liste des Bla bla</a></li>
                    </ul>
            </li>
            <li><a href="{{ path('topic_new') }}">Services</a></li>
        </ul>
    </aside>
</div>