<div class="form-group">
    {{ form_label(form.username,"Nom d'utilisateur", {'label_attr':{'class':'col-md-3 control-label'}}) }}
    <div class="col-md-5">
        {{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.email,'Email', {'label_attr':{'class':'col-md-3 control-label'}}) }}
    <div class="col-md-5">
        {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.email,'Email', {'label_attr':{'class':'col-md-3 control-label'}}) }}
    <div class="col-md-5">
        {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
    </div>
</div>