{% extends 'layout.html.twig' %}
{% block page_header_breadcrumb_root %}home{% endblock %}
{% block page_header_breadcrumb_child %}Page header 2{% endblock %}
{% block page_header_title %}Page header 3{% endblock %}

{% block dynamic %}
    <div class="row">
        {% block siderBarLeft %}
            {{ include('siderBarLeft/siderbar-left.html.twig',{'id':'1'}) }}
        {% endblock %}
        <div class="col-md-9">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="{{ path('topic_new') }}" class="btn btn-primary fa fa-plus-circle"> Ajouter Topic</a>
                    </div>
                    <h2 class="panel-title">{{ header_title_panel }}</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" id="datatable-topic">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Auteur</th>
                            <th>Titre Topic</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if topics is defined %}
                            {% for topic in topics %}
                                {% set user = topic.getUser() %}
                                <tr id="{{ topic.getId() }}" class="gradeX">
                                    <td>
                                        <div class="img-thumbnail-custom">
                                            <img src="{{ asset(PHOTO_PATH~'/'~ user.photo) }}" alt="">
                                        </div>
                                    </td>
                                    <td>{{ user.getUsername() }}</td>
                                    <td>{{ topic.getTitle }}</td>
                                    <td class="actions">
                                        <a href="{{ path('topic_edit', {'id':topic.getId()}) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}




{% block javascripts_current_page %}
    <script src="{{ asset('extension/vendor/select2/select2.js') }}" ></script>
    <script src="{{ asset('dataTables/datatables.min.js') }}" ></script>
    <script src="{{ asset('extension/vendor/magnific-popup/magnific-popup.js') }}" ></script>

    <script src="{{ asset('extension/javascripts/theme.js') }}" ></script>
    <script src="{{ asset('extension/javascripts/theme.custom.js') }}" ></script>
    <script src="{{ asset('extension/javascripts/theme.init.js') }}" ></script>

    <script src="{{ asset('extension/javascripts/tables/topic.datatables.js') }}" ></script>

    <script src="{{ asset('extension/vendor/pnotify/pnotify.custom.js') }}" ></script>
    {#<script src="{{ asset('extension/vendor/jquery-datatables/media/js/jquery.dataTables.js') }}" ></script>#}
    {#<script src="{{ asset('extension/vendor/jquery-datatables-bs3/assets/js/datatables.js') }}" ></script>#}

    <script>
        $(document).ready(function(){
            $('#datatable-topic').DataTable();
        })
    </script>

{% endblock %}

{% block css_current_page %}
    <link rel="stylesheet" href="{{ asset('extension/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('extension/vendor/pnotify/pnotify.custom.css') }}">
    <link rel="stylesheet" href="{{ asset('extension/vendor/magnific-popup/magnific-popup.css') }}">


    <link rel="stylesheet" href="{{ asset('dataTables/datatables.min.css') }}">
    {#<link rel="stylesheet" href="{{ asset('extension/vendor/jquery-datatables-bs3/assets/css/datatables.css') }}">#}
{% endblock %}