{% extends 'layout.html.twig' %}
{% block page_header_breadcrumb_root %}home{% endblock %}
{% block page_header_breadcrumb_child %}Page header 2{% endblock %}
{% block page_header_title %}Page header 3{% endblock %}


{% block dynamic %}
    <div class="row" id="_user_">
        {% block siderBarLeft %}
            {{ include('siderBarLeft/siderbar-left.html.twig',{'id':'1'}) }}
        {% endblock %}
        <div class="col-md-9">
            <section>
                <div class="search-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <h4>Resultat de la Recheche:
                                {% if request is defined %}
                                    {{ request }}
                                {% endif %}
                            </h4>
                            <br>
                            <p class="total-results text-muted">{{ users|length + topics|length }} resultat(s)</p>
                            <ul class="list-unstyled search-results-list">
                                {% if users is defined %}
                                    {% for user in users %}
                                        <li>
                                            <p class="result-type">
                                                <span class="label label-primary">Utilisateur</span>
                                            </p>
                                            <a href="{{ path('user_show', {'id':user.getId()}) }}" class="has-thumb">
                                                <div class="result-thumb">
                                                    <img src="{{ asset(PHOTO_PATH~'/'~ user.photo) }}" alt="">
                                                </div>
                                                <div class="result-data">
                                                    <p class="h3 title text-primary">{{ user.getFirstname() | upper }} {{ user.getLastname() }}</p>
                                                    <p class="description">{{ user.getUsername() }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {% if topics is defined %}
                                    {% for topic in topics %}
                                        {% set usertopic = topic.getUser() %}
                                        <li>
                                            <p class="result-type">
                                                <span class="label label-primary">Topic</span>
                                            </p>
                                            <a href="{{ path('topic_show', {'id':topic.getId()}) }}" class="has-thumb">
                                                <div class="result-thumb">
                                                    <img src="{{ asset(PHOTO_PATH~'/'~ usertopic.getPhoto()) }}" alt="">
                                                </div>
                                                <div class="result-data">
                                                    <p class="h3 title text-primary">{{ topic.getTitle() }}</p>
                                                    <p class="description"> Auteur: {{ usertopic.getUsername() }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block css_current_page %}
    <link rel="stylesheet" href="{{ asset('extension/stylesheets/theme-custom.css') }}">
{% endblock %}
